@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Playfair Display", "serif";
  --font-main: "Source Sans 3", "serif";
  --font-userText: "EB Garamond", "serif";
  --shadow-custom: 4px 4px 5px rgba(0, 0, 0, 0.5);

  --color-main: #191919;
  --color-mainSecondary: #4c4c4c;
  --color-background: #ffffff;
  --color-itemBackground: #e6e6e6;

  --color-mainDark: #e6e6e6;
  --color-mainSecondaryDark: #d9d9d9;
  --color-backgroundDark: #0d0d0d;
  --color-itemBackgroundDark: #333333;

  --color-primary: #2c5558;
  --color-secondary: #c89293;
  --color-accent: #9d974d;
  --color-excellent: #34c759;
  --color-good: #ffcc00;
  --color-average: #ff9500;
  --color-bad: #ff3b30;
}

body {
  color: var(--color-main);
  background-color: var(--color-background);
}

html.dark body {
  color: var(--color-mainDark);
  background-color: var(--color-backgroundDark);
}

.wrapper {
  margin: auto;
  max-width: 1024px;
}

svg {
  pointer-events: bounding-box;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #e6e6e6;
}

*::-webkit-scrollbar-track:hover {
  background-color: #e6e6e6;
}

*::-webkit-scrollbar-track:active {
  background-color: #e6e6e6;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #666666;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}

html.dark {
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #333333;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #333333;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #333333;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #4d4d4d;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #666666;
  }
}

@media (width <= 1024px) {
  .wrapper {
    padding-inline: min(20px, 4%);
  }
}
